<!--<select id="item1">
	{{#each models}}<option>{{attributes.name}}</option>{{/each}}
</select>
<select id="item2" class="pull-left">
	{{#each models}}<option>{{attributes.name}}</option>{{/each}}
</select>-->
<div>
	<input id="cameraItemsLeft" class="compare-item" placeholder="Camera 1"></input>
	<span>&</span>
	<input id="cameraItemsRight" class="compare-item" placeholder="Camera 2"></input>
</div>
<div>
	<h1>{{name}}</h1>
	<p><span class="label">{{category}}</span></p>
	<p><span class="label">{{megapixels}}</span></p>
	<!--img src="photos/{{imagepath}}" class="img-polaroid" /-->
</div>
<p></p>
<button type="button" class="btn" id="compare">Compare</button>

